body {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #858585;
}

/* --------------------------FRONT HEADER------------------------ */

.snow-nav {
  flex-grow: inherit;
  padding-right: 5%;
}

/* --------------------------TRICK SECTION------------------------ */

.hero-big {
  display: none;
  position: relative;
}

.hero-resp {
  display: block;
  position: relative;
}

.to-trick {
  font-size: 50px;
  color: #ffc001;
  position: absolute;
  bottom: 10%;
  right: 2%;
  transition: 300ms;
}

.to-trick-2 {
  font-size: 30px;
  color: #ffc001;
  position: absolute;
  bottom: 10%;
  right: 2%;
}

.to-trick:hover {
  transform: translate(0, -5px);
}

.trick-card a {
  text-decoration: none;
  color: 02335b;
}

/* --------------------------MEDIA QUERIES------------------------ */

@media screen and (min-width: 1400px) {
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 768px) {
  .hero-big {
    display: block;
  }

  .hero-resp {
    display: none;
  }
}

@media screen and (min-width: 576px) {
}
