body {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #858585;
}



/* --------------------------------HEADER--------------------------- */

.snow-nav {
    flex-grow: inherit;
    padding-right: 5%;
}