{% extends "/common/template.php.twig" %}

{% block title %}

	<title>Snowtricks | Home</title>

{% endblock %}

{% block head %}

	{{parent()}}

{% endblock %}

{% block header %}

	{{parent()}}

{% endblock %}

{# ---------------------SECTION HERO IMG---------------- #}

{% block content %}

	<div class="container-fluid g-0">
		<img src="../media/hero/hero-img-1.jpg" class="img-fluid" alt="Snowtricks Hero">
	</div>

	{# ------------------------SECTION TRICKS------------------ #}

	<div class="container-fluid">
		<div class="row">
			{% for trick in tricks %}


				<div class="col-12 col-lg-4 mb-5">
					<div class="card article-card">
						<a href="{{ trick.id }}">
							<img src="/snowtricks/media/trick/backside_air_1.jpg" class="card-img-top card-media" alt="...">
							<div class="card-body article-card-body">
								<div class="card-title-and-date">
									<h5 class="card-title article-title">{{ trick.name }}</h5>
								</div>
							</div>
						</a>
					</div>
				</div>
			{% endfor %}

		</div>
	</div>


{% endblock %}
