{% for trick in tricks %}


	<div class="col-12 col-md-2 my-4 mx-4 mb-3">
		<div class="card trick-card">
			<a href="{{ trick.id }}">
				<img src="{{ asset ('media/trick/' ~ trick.trickMedia[0].fileName) }}" class="card-img-top card-media" alt="...">
				<div class="card-body trick-card-body">
					<div class="card-title-and-date">
						<h5 class="card-title trick-title">{{ trick.name }}</h5>
					</div>
				</div>
			</a>
		</div>
	</div>
{% endfor %}
